# --------------------------------------------------
# Application
# --------------------------------------------------

APP_NAME=Employee Payroll Management System
APP_ENV=development
DEBUG=true


# --------------------------------------------------
# Database
# --------------------------------------------------

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=employee_payroll
DATABASE_USER=your_mysql_username
DATABASE_PASSWORD=your_mysql_password


# --------------------------------------------------
# Authentication
# --------------------------------------------------

JWT_SECRET_KEY=replace_with_a_secure_secret
JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7


# --------------------------------------------------
# Payroll
# --------------------------------------------------

PAYROLL_WORKER_COUNT=4

CORS_ORIGINS=http://localhost:5173